<app-course-search (searchCourseByQuery)="onSearchCourseByQuery($event)"></app-course-search>
<div class="courses-container">
  <app-modal *ngIf="showDeleteModal">
    <app-delete-course-modal-content
      *ngIf="showDeleteModal"
      (deleteCourse)="deleteCourseById()"
      (cancelDeleteCourse)="toggleModal()">
    </app-delete-course-modal-content>
  </app-modal>
  <button class="add-button sharp-button" (click)="addCourse()">
    <fa-icon icon="plus"></fa-icon>
    Add Course
  </button>
  <app-courses-list
    [coursesList]="coursesList"
    [searchQuery]="searchQuery"
    (editCourse)="editCourse($event)"
    (deleteCourse)="showDeleteCourseModal($event)">
  </app-courses-list>
</div>
