.edit {
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    flex-direction: column;
    width: 700px;

    input {
      padding: 10px;
    }

    textarea {
      padding: 10px;
      height: 150px;
    }

    margin: 10px auto 5px;
  }

  button {
    width: 100px;
    margin: 10px auto 5px;
  }
}
