<div class="edit">
  <label>
    <span>Title: <span>*Required</span></span>
    <input [(ngModel)]="course.title"/>
  </label>
  <label>
    <span>Description: <span>*Required</span></span>
    <textarea [(ngModel)]="course.description"></textarea>
  </label>
  <label>
    <span>Date: <span>*Required</span></span>
    <input [(ngModel)]="course.creationDate" placeholder="MM.DD.YYYY"/>
  </label>
  <label>
    <span>Duration: <span>*Required</span></span>
    <input [(ngModel)]="course.duration" placeholder="Input in minutes"/>
  </label>
  <label>
    <span>Authors: <span>*Required</span></span>
    <input placeholder="Start typing..."/>
  </label>
  <button class="button default-button" (click)="updateCourse()">
    Save
  </button>
  <button class="button sharp-button" (click)="cancelUpdate()">
    Cancel
  </button>
</div>
