@import "~variables.scss";

.modal {
  position: absolute;
  background: rgba($dark-color, 0.8);
  color: $bright-color2;
  width: 100%;
  min-height: 200px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  padding-top: 20px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
