<div class="course" [ngClass]="{'top-rated': course.topRated}" [appCourseBorder]="course.creationDate">
  <div class="content">
    <div class="title">
      <h3 class="text">{{course.title | uppercase}}
        <span>
          <fa-icon icon="star" *ngIf="course.topRated"></fa-icon>
        </span>
      </h3>
      <div class="date">
        <p>
          <fa-icon [icon]="['far', 'clock']"></fa-icon>
          {{course.duration | convertCourseDuration}}
        </p>
        <p>
          <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
          {{course.creationDate | date}}
        </p>
      </div>
    </div>
    <p class="description">{{course.description}}</p>
  </div>
  <div class="controls">
    <button class="button default-button" (click)="editCourse.emit(course.id)">
      <fa-icon icon="pencil-alt"></fa-icon>
      Edit
    </button>
    <button class="button sharp-button" (click)="delete(course.id)">
      <fa-icon icon="trash-alt"></fa-icon>
      Delete
    </button>
  </div>
</div>
