<div class="course" [ngClass]="{'top-rated': topRated}" [appBorder]="course.creationDate">
  <div class="content">
    <div class="title">
      <h3 class="text">{{course.title}}
        <a (click)="changeRate()">
          <fa-icon icon="star" *ngIf="topRated"></fa-icon>
          <fa-icon [icon]="['far', 'star']" *ngIf="!topRated"></fa-icon>
        </a>
      </h3>
      <div class="date">
        <p>
          <fa-icon [icon]="['far', 'clock']"></fa-icon>
          {{course.duration}}
        </p>
        <p>
          <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
          {{date}}
        </p>
      </div>
    </div>
    <p class="description">{{course.description}}</p>
  </div>
  <div class="controls">
    <button class="button default-button">
      <fa-icon icon="pencil-alt"></fa-icon>
      Edit
    </button>
    <button class="button sharp-button" (click)="delete(course.id)">
      <fa-icon icon="trash-alt"></fa-icon>
      Delete
    </button>
  </div>
</div>
